<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>

<% 
	// This variable is 'show' if the sidebar is to be shown on page load or '' otherwise.
	// It should show if the user has searched for something
	var showSidebar;
	
	if (query !== "" && query !== null && query !== undefined) { 
		showSidebar = 'show'; // This bootstrap class is applied to the sidebar if the user has searched for something
	} else {
		showSidebar = ''; // No search, no no class to show.
	}
%>

<!-- Start sidebar -->
<div class="collapse<%= showSidebar %>" id="sidebar">
	<h5>Advanced Search</h5>
	<form>
		<div class="input-group mb-4">
			<input class="form-control" name="loc" type="text" id="loc" aria-label="Advanced search textbox">
		</div>
		
		<div class="input-group mb-4">
			<label>Price<input class="form-control" name="price" type="range" id="priceSlider"></label>
			<span id="priceDisplay"></span>
		</div>
		
		<div class="input-group mb-4">
			<label>Distance<input class="form-control" name="distance" type="range" id="distanceSlider"></label>
			<span id="distanceDisplay"></span>
		</div>
		
		<div class="input-group mb-4">
			<button class="btn btn-primary">
				Advanced search
			</button>
		</div>
	</form>
	
	
	<% if (typeof query !== 'undefined' && query !== "" && query !== null) { %>		
		<!-- This is where the results are displayed -->
		<h5>Search Results</h5>
		<p>for '<%= query %>'</p>
		
		<div class="list-group">
			<%# Looping through each result and adding their names to the list %>
			<%# console.log(spots) %>
			<% spots.forEach(function(element) { %>
				<a class="list-group-item" href="#">
					<%= element.name %><br><%= element.type %><br>£<%= element.price %><br>FindSpot
				</a>
			<% }); %>
			
		</div>
	<% } %>
	
	<a id="addLocationButton" class="btn btn-primary" href="/add">
		Add location...
	</a>
	
	</div>
	
</div>

<div id="content">
	<div id="map">
		<!-- The map is loaded if JavaScript is enabled, otherwise this message is shown -->
		<noscript><p>Unfortunately, we haven't been able to load Google Maps.</p></noscript>
	</div>
</div>

<script>
// Get the spots from EJS through node and mongo
var spots = <%- JSON.stringify(spots) %>;

// Store the map itself
var map;

// Creates a new map, centres it on Aberdeen and places it in the element with the ID 'map'
function initMap() {
	var abz = {lat:57.1497, lng:-2.0943};
	map = new google.maps.Map(document.getElementById('map'), {
		zoom: 8,
		center: abz
	});

}

// This function places a marker on the passed map at the given location.
function placeMarker(map, parkingName, location){
	var marker = new google.maps.Marker({
		position: location,
		title: parkingName,
		map: map
	});
}

// These functions synchronise the value of labels with the value of their respective sliders
function updateDistanceLabel() {
	$('#distanceDisplay').html($('#distanceSlider').val() + 'km');
}

function updatePriceLabel() {
	$('#priceDisplay').html('£' + $('#priceSlider').val());
}

$(function() {
	initMap();
	
	<% if (query !== undefined && query !== null && query !== "") { %>
		spots.forEach(function(item) {
			placeMarker(map, item.name, {lat: item.lat, lng: item.long});
		});
	<% } %>
	
	$(function() {
		// Listeners for changes in the value of the distance and price sliders.
		// In the event of a change, they update text displayed near the slider with a clear value.
		$('#distanceSlider').change(function(event) {
			updateDistanceLabel();
		});
		
		$('#priceSlider').change(function(event) {
			updatePriceLabel();
		});
		
		updatePriceLabel();
		updateDistanceLabel();
	});
});
</script>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRK2xpbDf14zS08cMkp252N8uPvt3O4_I&callback=initMap">
</script>

</body>
</html>
