<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body ng-app="">
<%- include('partials/navbar') %>

<!-- Map Display Div -->
<nav class='navbar-primary'>
	<div class='sidebtn'>
		<a href='#' class='btn-expand-collapse'><span class='glyphicon glyphicon-menu-left'></span></a>
	</div>
	<div class='sidebar'>
		<ul class='navbar-primary-menu panel-group' id='accordion'>
			<% for ( i = 0; i < Object.keys(spots.default).length; i++ )  { %>
				<li>
					<div class="panel panel-default">
						<div class="panel heading">
							<a data-toggle='collapse' data-parent='#accordion' href='#collapse<%= i %>'><span class="nav-label">
								<h6><%= spots.default[i].name %></h6>
							</span></a>
						</div>
						<div id='collapse<%= i %>' class='panel-collapse collapse'>
							<div class='panel-body'>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat
							</div>
						</div>
					</div>
				</li>
			<% } %>
		</ul>
	</div>
</nav>

<div id="map">
	<!-- <%- JSON.stringify(spots) %> -->
	<!-- <noscript><p>Unfortunately, we haven't been able to load Google Maps.</p></noscript> -->
</div>

<!-- Map scripts -->
<script>
var spots = <%- JSON.stringify(spots) %>;

function initMap() {
	var abz = {lat:57.1497, lng:-2.0943};
	var infowindow = new google.maps.InfoWindow;

	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 12,
		center: abz,
		mapTypeControl: false
	});
	map.setTilt(45);

	var marker,i;
	var contentStrings = [];

	for ( i = 0; i < Object.keys(spots.default).length; i++ ) {
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(spots.default[i].lat, spots.default[i].lng),
			map: map,
			id: i
		});
		var contentMap = '<div id="infoContent">'+
			'<h5 id="locHeading">' + spots.default[i].name + '</h1></div>'+
			'<p id="locInfo">Type:' + spots.default[i].type  + '</p>'+
			'<p id="locInfo">additional info: ' + spots.default[i].rating + '</p>';

		contentStrings[i] = contentMap;

		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
				map.setZoom(16);
				map.panTo(marker.getPosition());
				infowindow.setContent(contentStrings[i]);
				infowindow.open(map,marker);
			}
		})(marker,i));
	}
}
</script>

<!-- Side Bar Scripts -->
<script>
	$('.btn-expand-collapse').click(function(e) {
		$('.navbar-primary').toggleClass('collapsed');
	});
</script>

<!-- Import Google Map API -->
<script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRK2xpbDf14zS08cMkp252N8uPvt3O4_I&callback=initMap">
</script>

</body>
</html>
