<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>

<% 
	// This variable is 'show' if the sidebar is to be shown on page load or '' otherwise.
	// It should show if the user has searched for something
	var showSidebar;
	
	if (query !== "" && query !== null && query !== undefined) { 
		showSidebar = 'show'; // This bootstrap class is applied to the sidebar if the user has searched for something
	} else {
		showSidebar = ''; // No search, no no class to show.
	}
%>

<%# The showSidebar variable instructs the sidebar to show if the user has entered a query. %>

<% if (query !== "" && query !== null && query !== undefined) { %>
	<div class="collapse <%= showSidebar %>" id="sidebar">
		<h3>Filters</h3>
		<form class="input-group">
			<legend>Maximum price</legend>
			<input name="price" type="radio" id="price0">
			<label for="price0">Free</label>
			
			<input name="price" type="radio" id="price5">
			<label for="price5">£5</label>
			
			<input name="price" type="radio" id="price10">
			<label for="price10">£10</label>
			
			<input name="price" type="radio" id="priceall" checked>
			<label for="priceall">All prices</label>
		
			<legend>Maximum distance</legend>
			<input name="distance" type="radio" id="dist1">
			<label for="dist1">1km</label>
			
			<input name="distance" type="radio" id="dist5">
			<label for="price5">5km</label>
			
			<input name="distance" type="radio" id="dist10">
			<label for="dist10">10km</label>
			
			<input name="distance" type="radio" id="distall" checked>
			<label for="distall">All distances</label>
		</form>
		
		<h3>Search Results</h3>
		<p>for '<%= query %>'</p>
		
		<ol>
			<% spots.forEach(function(element) { %>
				<li><%= element.name %></li>
			<% }); %>
		</ol>
	</div>
<% } %>

<div id="content">
	<div id="map">
		<!-- The map is loaded if JavaScript is enabled, otherwise this message is shown -->
		<noscript><p>Unfortunately, we haven't been able to load Google Maps.</p></noscript>
	</div>
</div>

<script>
// Get the spots from EJS through node and mongo
var spots = <%- JSON.stringify(spots) %>;

// Creates a new map, centres it on Aberdeen and places it in the element with the ID 'map'
function initMap() {
	var abz = {lat:57.1497, lng:-2.0943};
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 8,
		center: abz
	});

}

// This function places a marker on the passed map at the given location.
function placeMarker(map, location){
	var marker = new google.maps.Marker({
		position: location,
		map: map
	});
}

$(function() {
	initMap();
	
	<% if (query !== undefined && query !== null && query !== "") { %>
		spots.forEach(function(item) {
			placeMarker({lat: item.lat, lng: item.long});
		});
	<% } %>
});
</script>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRK2xpbDf14zS08cMkp252N8uPvt3O4_I&callback=initMap">
</script>

</body>
</html>
