<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>

<!-- Map Display Div -->
<nav class="navbar-primary">
	<div class="sidebtn">
		<a href='#' class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
	</div>
	<div class="sidebar">
		<ul class="navbar-primary-menu">
			<li>
				<a href="#"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">LINK 1</span></a>
				<a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">LINK 2</span></a>
				<a href="#"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">LINK 3</span></a>
			</li>
		</ul>
	</div>
</nav>

<script>
	$('.btn-expand-collapse').click(function(e) {
					$('.navbar-primary').toggleClass('collapsed');
	});
</script>


<div id="map">
	<noscript><p>Unfortunately, we haven't been able to load Google Maps.</p></noscript>
</div>

<script>

// var spots = <%= spots %>;
var contentString = '<div id="infoContent">'+
	'<h5 id="locHeading"><%- spots.name %></h1></div>'+
	'<p id="locInfo">Type: <%- spots.type %></p>'+
	'<p id="locInfo">additional info: <%- spots.rating %></p>';
// var contentString = "nae string \'ere just yet pal";

function initMap() {
	var abz = {lat:57.1497, lng:-2.0943};
	var infowindow = new google.maps.InfoWindow;

	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 8,
		center: abz,
		mapTypeControl: false
	});

	var marker = new google.maps.Marker({
		position: { <%- spots.lat %>, <%- spots.lng %> },
		map: map
	});

	marker.addListener('click', function() {
		map.setZoom(16);
		map.setCenter(marker.getPosition());
		infowindow.setContent(contentString);
		infowindow.open(map,marker);
	});
	// var marker;
	// for ( var i = 0; i < j; i++ ){
	// 	marker = new google.maps.marker({
	// 		position : new google.maps.LatLng(spots[i],
	// 		map : map
	// 	});
	// }
}


</script>

<!-- Import Google Map API -->
<script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRK2xpbDf14zS08cMkp252N8uPvt3O4_I&callback=initMap">
</script>

</body>
</html>
